{% extends "base.html" %}

{%- block topbar -%}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('admin.index') }}" class="brand">My App Admin</a></li>
      <li class="menu"><a href="{{ url_for("admin.create") }}" class="btn primary">Create new Job</a></li>
      <li class="menu"><a href="{{ url_for("admin.word") }}" class="btn primary">Key Word</a></li>
      <li class="menu"><a href="{{ url_for("admin.wordcreate") }}" class="btn primary">Create new key word</a></li>
      <li class="menu"><a href="{{ url_for("admin.parser") }}" class="btn primary">Start parser</a></li>
      <li class="menu"><a href="{{ url_for("admin.csv") }}" class="btn primary">Download</a></li>

    </ul>
</div>
{%- endblock -%}
{% block js_footer %}
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="http://code.jquery.com/jquery.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}