{% extends "admin/base.html" %}
{% import "_forms.html" as forms %}
{% block content %}
  <h2>
    {% if create %}
      Add new Job
    {% else %}
      Edit Job
    {% endif %}
  </h2>
  <form action="" method="POST">
{#
  <div class="form-group">
    <div>Job Title</div>
    {{form.job_title(size=80)}}
  </div>

  <div class="form-group">
    <div>URL to job on the job site</div>
    {{form.url_job_site(size=80)}}
  </div>

  <div class="form-group">
    <div>Location</div>
    {{form.location(size=80)}}
  </div>

  <div class="form-group">
    <div>Company Name</div>
    {{form.companyName(size=80)}}
  </div>

  <div class="form-group">
    <div>Direct URL</div>
    {{form.directUrl(size=80)}}
  </div>
#}
 {{ forms.render(form) }}
    <div class="actions">
      <input type="submit" class="btn btn-primary" value="save">
      <a href="{{ url_for("admin.index") }}" class="btn btn-default">Cancel</a>
    </div>
  </form>
{% endblock %}