{% extends "admin/base.html" %}
{#% import "_forms.html" as forms %#}

{% block content %}
  <h2>
    {% if create %}
      Add new Key Word
    {% else %}
      Edit Key Word
    {% endif %}
  </h2>
{# ?{{ request.query_string }} #}
  <form action="" method="POST">
    {#{ forms.render(form) }#}
    {{form.word(size=80)}}
    <div class="actions">
      <input type="submit" class="btn primary" value="save">
      <a href="{{ url_for("admin.index") }}" class="btn secondary">Cancel</a>
    </div>
  </form>
{% endblock %}