{% extends "admin/base.html" %}
{% import "_forms.html" as forms %}

{% block content %}
  <h2>
    {% if create %}
      Add new Key Word
    {% else %}
      Edit Key Word
    {% endif %}
  </h2>
{# ?{{ request.query_string }} #}
  <form action="" method="POST">
    {{ forms.render(form) }}

    <div class="actions">
      <input type="submit" class="btn btn-primary" value="save">
      <a href="{{ url_for("admin.word") }}" class="btn btn-default">Cancel</a>
    </div>
  </form>
{% endblock %}