{% extends "admin/base.html" %}

{% block content %}
  <div>
    <span class="label label-info">Total pages: {{countPage}}</span>
    <span class="label label-info">Total job post: {{countItems}}</span>

    {% for k in listSite %}
     <a href="{{ url_for("admin.byname", page=0, siteName=k) }}"><span class="label label-default {% if siteName == k%}label-success{% endif %}">{{listSite[k]}}</span></a>
    {% endfor %}


  </div>
  <table  class="table table-hover">
    <thead>
      <th>Job Title</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
    {% for job in jobs %}
      <tr>
        <th><a href="{{ url_for('admin.edit', pk=job.pk) }}">{{ job.job_title }}</a></th>
        <td><a href="{{ url_for("admin.edit", pk=job.pk) }}" class="btn primary">Edit</a></td>
        <td>
          <a href="{{ url_for("admin.delete", pk=job.pk) }}" class="btn btn-default btn-lg">
             <span class="glyphicon glyphicon-remove"></span>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <ul class="pagination">
    {% for p in range(start, stop) %}
      <li {% if page == p %} class="active"{% endif %}><a href="{{ url_for("admin.byname", page=p, siteName=siteName) }}" class="page">{{p+1}}</a></li>
    {% endfor %}
  </ul>
{% endblock %}