{% extends "admin/base.html" %}

{% block content %}
  <table  class="table table-hover">
    <thead>
      <th>Word</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
    {% for word in words %}
      <tr>
        <th><a href="{{ url_for('admin.wordedit', pk=word.pk) }}">{{ word.word }}</a></th>
        <td><a href="{{ url_for("admin.wordedit", pk=word.pk) }}" class="btn primary">Edit</a></td>
        <td>
          <a href="{{ url_for("admin.worddelete", pk=word.pk) }}" class="btn btn-default btn-lg">
             <span class="glyphicon glyphicon-remove"></span>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}