{% extends "admin/base.html" %}

{% block content %}
  <h2>
    Start parser
  </h2>
  <div class="actions">
    <input id="start" type="button" class="btn btn-danger" value="Start" onclick="this.value='Please wait...'; this.disabled=true;startParser();">
    <a href="{{ url_for("admin.index") }}" class="btn btn-default">Cancel</a>
  </div>
  {% if isRun %}
  <div>Is Run</div>
  {% endif %}
  <script type="text/javascript">
  function startParser(){
    $('#start').attr('disable', 'disable');
    $.ajax({
      url: '{{ url_for("admin.parser") }}start/',
      type: "GET",
      success: function(){
        document.location = "{{ url_for("admin.index") }}";
      }
    });
  }
  </script>
{% endblock %}