{% extends "base.html" %}

{% block page_header %}
  <div class="page-header">
    <h1>{{ job.job_title }}</h1>
  </div>
{% endblock %}

{% block content %}
<div>{{ job.url_job_site }}</div>
<div>{{ job.location }}</div>
<div>{{ job.companyName }}</div>
<div>{{ job.directUrl }}</div>
{% endblock %}