{% extends "base.html" %}

{% block content %}
    {% for job in jobs %}
      <h2><a href="{{ job.pk }}">{{ job.job_title }}</a></h2>
    {% endfor %}

   <ul class="pagination">
    {% for p in range(start, stop) %}
      <li {% if page == p %} class="active"{% endif %}><a href="{{ url_for("admin.p", page=p) }}" class="page">{{p+1}}</a></li>
    {% endfor %}
  </ul>

{% endblock %}